@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.root {
    -fx-font-family: 'Inter', sans-serif;
}

#OnboardingVBox {
    -fx-spacing: 5.0;
    -fx-alignment: center;
}

#WelcomeText {
    -fx-font-size: 18.0;
    -fx-font-weight: bold;
}

#GreetingsLabel {
    -fx-font-size: 12.0;
}

Button {
    -fx-padding: 10 20 10 20;
    -fx-effect: none;
    -fx-background-radius: 25px;
    -fx-background-color: #aeaeae;
    -fx-cursor: hand;
    -fx-transition: -fx-background-color 0.3s ease, -fx-font-weight 0.3s ease;
}

Button:hover {
    -fx-background-color: #8e8e8e;
    -fx-font-weight: bold;
}

TextFlow {
    -fx-alignment: center;
    -fx-spacing: 5.0;
}